{% load static from staticfiles%}
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>UnBusca</title>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link href="{% static "/css/signin.css" %}" rel="stylesheet">
	</head>
	<body class="text-center">
		<form class="form-signin" method="POST" action="/login/">
		  <img class="mb-4" src="{% static "/images/unBusca.png" %}" alt="UnBusca" width="500" >
		  <h1 class="h3 mb-3 font-weight-normal">Login</h1>
		  <label for="inputEmail" class="sr-only">Usuário</label>
		  <input type="text" id="inputEmail" name="Username" class="form-control" placeholder="Usuário" required autofocus>
		  <label for="inputPassword" class="sr-only">Senha</label>
		  <input type="password" name="Password" id="inputPassword" class="form-control" placeholder="Senha" required>
		  <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		  <br>
		  <div style="font-size:0.8rem;" class="row links">
			  <a href="/sobre/" class="alert-link col-sm resetPass">Sobre</a>
			  <a class="alert-link">&nbsp;|&nbsp;</a>
		   <a href="cadastro/" class="alert-link signUp col-sm">Cadastre-se</a>
		  </div>
		  <p class="mt-5 mb-3 text-muted">&copy; 2019-2019 </p>
		</form>
	</body>
</html>
