{% load static from staticfiles%}
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>UnBusca</title>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="{% static "/js/main.js"%}"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static "/css/main.css" %}">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		
	</head>
	<body>
		<nav class="navbar card" style="max-height:100px;width:100%;position:fixed; z-index:40;">
			<a><img class="mb-4" src="{% static "/images/unBusca.png"%}	" alt="UnBusca" height="100"></a>
		</nav>
		<div class="container-fluid gedf-wrapper" style="background-color: #f5f5f5;">
			<div style="height:120px;"></div>
			<div class="row">
				<div class="col-md-3" style="width: 340px;">
					<div class="card" style="position:fixed; width: 340px;">
						<div class="card-body">
							<div style="position:absolute;right:5%;">
								<a href="/logout/" </a><i class="fa fa-sign-out"></i></a>
							</div>
							<br>
							{%if USER.USER_IMAGE == NULL %}
								<img src="{% static "/images/UnB.png" %}" class="rounded-circle" width="200" style=" margin-left:20%;margin-bottom:20%;" >
							{%else%}
								<img src="{% static "/images/users"%}{{USER.USER_IMAGE}}" class="rounded-circle style=" width:100%;max-height:50%;padding-left:20%;padding-right:20%;padding-bottom:20%;" >
							{% endif %}
							<div class="h5">{{USER.USER_FULLNAME}}</div>
							<div class="h7 text-muted">@{{USER.USER_NAME}}</div>
							<div class="h7">
								<br>
								{{USER.USER_DESCRIPTION}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 gedf-main" style="position:absolute;left:360px;width:700px;" >
					<div class="card gedf-card">
						<div class="card-header">
							<h4>Perdeu ou achou algo?</h4>
							<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Publique</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Imagens</a>
								</li>
							</ul>
						</div>
						<form method="POST" action="/post/" enctype="multipart/form-data">
							<div class="card-body">
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
										<div class="form-group">
											<label class="sr-only" for="message">post</label>
											<input name="POST_TITLE" type="text" class="form-control" placeholder="Titulo">
											<br>
											<textarea name="POST_TEXT" class="form-control" id="message" rows="3" placeholder="Descreva o achado ou perdido aqui"></textarea>
										</div>

									</div>
									<div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
										<div class="form-group">
											<div class="custom-file">
												<input type="file" name="POST_IMAGES" class="custom-file-input" value="Enviar" id="customFile">
												<label class="custom-file-label" for="customFile">Selecione sua imagem</label>
											</div>
										</div>
										<div class="py-4"></div>
									</div>
								</div>
								<div class="btn-toolbar justify-content-between">
									<div class="btn-group">
										<button type="submit" class="btn btn-primary">Postar</button>
									</div>
						
									<div class="btn-group">
										<label style="margin-top:9px;">Local:</label>
										<button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											FGA
										</button>
										<input type="hidden" id="localPost" value="FGA" name="POST_LOCAL">
										<div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
											<a class="dropdown-item" onclick="alterarLocal('FGA')">FGA</a>
											<a class="dropdown-item" onclick="alterarLocal('FCE')">FCE</a>
											<a class="dropdown-item" onclick="alterarLocal('FUP')">FUP</a>
											<a class="dropdown-item" onclick="alterarLocal('Darcy Ribeiro')">Darcy Ribeiro</a>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					{%for POST in POSTS%}
					<div class="card gedf-card">
						<div class="card-header">
							<div class="d-flex justify-content-between align-items-center">
								<div class="d-flex justify-content-between align-items-center">
									<div class="mr-2">
										{%if POST.POST_USER.USER_IMAGE == NULL %}
											<img src="{% static "/images/UnB.png" %}" class="rounded-circle" width="55" >
										{%else%}
											<img src="{% static "/images/UnB.png"%}{{POST.POST_USER.USER_IMAGE}}" class="rounded-circle" width="55" >
										{% endif %}
									</div>
									<div class="ml-2">
										<div class="h5 m-0">{{POST.POST_USER.USER_FULLNAME}}</div>
										<div class="h7 text-muted">@{{POST.POST_USER.USER_NAME}}</div>
									</div>
								</div>
								{% if USER.USER_ID == POST.POST_USER.USER_ID %}
								<div>
									<div class="dropdown">
										<button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="fa fa-ellipsis-h"></i>
										</button>
										<div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
											<a class="dropdown-item" href="/deletePost/?POST_DELETE={{POST.POST_ID}}">Deletar</a>
										</div>
									</div>
								</div>
								{%endif%}
							</div>
						</div>
						<div class="card-body">
							<div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{POST.POST_TIME}}</div>
							<a class="card-link" href="#">
								<h5 class="card-title">{{POST.POST_TITLE}}</h5>
							</a>

							<p class="card-text">
								{{POST.POST_TEXT}}
							</p>
							{%if POST.POST_IMAGE != NULL %}
									<center><img src="{% static "/images/posts/"%}{{POST.POST_IMAGE}}" style="max-width:100%;max-height:40%;cursor:pointer;border-radius:10px;"></center>
							{%endif%}
						</div>
						<div class="card-footer">
							Campus: <a href="">{{POST.POST_LOCAL}}</a>
						</div>
					</div>
					{%endfor%}				
				</div>
				<form class="col-md-3" action="/" style="position:absolute;left:1070;width:300px;">
					<div class="card gedf-card" style="position:fixed;left:1060px; min-width:250px; max-width:350px;">
						<div class="card-body">
							<h5 class="card-title">Filtros</h5>
							<p id="TagsNames" class="card-text">
								
							</p>
							<input type="hidden" id="TagsFilters" name="TagsFilters">
							<div class="input-group" style=" margin-top:25px;">
								<input type="text" id="SearchField" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" >
								<div class="input-group-append">
									<button class="btn btn-outline-primary" type="button" id="button-addon2" onclick="addTag()">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<br>
							</div>
							<script>
								{% for tag in TAGS%}
									insertTag('{{tag}}');
								{%endfor%}
							</script>
						</div>
						<div class="btn-group" >
							<button type="submit" onclick="addTag()" style="border-top-left-radius:0px;border-top-right-radius:0px;" class="btn btn-primary">Buscar <i class="fa fa-search"></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="Black"><button id="exitBlack"><h1>x</h1></button></div>
		<div class="UpdateUser">
		fd
		</div>
	</body>
</html>
