{% load static from staticfiles%}
<DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>UnBusca</title>
		<link href="{% static "/css/application.css" %}" rel="stylesheet">
		<style>
			body{
				background-color:#4F56AE;
			}
		</style>
  </head>

  <body>
	 <img src="{% static "/images/unBusca.png" %}">         
     <main>
        <h2 class="band-name"> Voc&ecirc; cadastra sua procura, N&oacute;s divulgamos pra voc&ecirc;!</h2>
        <p class="headline"> A desorganiza&ccedil;&atilde;o e a falta de controle do usu&aacute;rio que achou um item e outro que o perdeu dentro da UnB-FGA al&eacute;m do lugar para guard&aacute;-los, se tornou um dos maiores problemas da universidade. Para isso, visando resolver o problema dos achados e perdidos, foi desenvolvida a plataforma UnBusca, onde o usu&aacute;rio poder&aacute; cadastrar objetos, enviar fotos e criar uma descri&ccedil;&atilde;o para o item a fim de quem perdeu possa visualizar e encontra-lo. Contudo, um registro de recebimento vai ser criado a fim de impedir usu&aacute;rios mal intencionados. O sistema ser&aacute; implementado em um servidor que possa ser acessado por qualquer aluno da FGA e possua uma capacidade de armazenamento o suficiente para guardar as informa&ccedil;&otilde;es de banco de dados do sistema que ser&aacute; utilizado na universidade.</p>
        <hr>

        <div class="concerts">
            <h2> Legado </h2>
        </div>

        <div class="logo">
            <p> Deixar para os usu&aacute;rios da FGA uma melhor experi&ecirc;ncia com o achados e perdidos com o m&iacute;nimo de complica&ccedil;&otilde;es, isso feito sobre um sistema de c&oacute;digo livre que permita a manuten&ccedil;&atilde;o por parte dos alunos, assim como um potencial de desenvolvimento para abranger mais situa&ccedil;&otilde;es e resolver futuros problemas da institui&ccedil;&atilde;o.</p>
        </div>
        <div class="texto">
            <p>"Se voc&ecirc; pode sonhar, voc&ecirc; pode fazer"</p>                  
            <p>Walt Disney</p>
        </div>
        <hr>
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                       <th>Desenvolvido por:</th>
                       <th>Orientado por:</th>                    
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td>Ana Luiza Oliveira de Brito</td>
                        <td>Prof&#176; Dr&#176; Ricardo Fragelli</td>
                     </tr>
                     <tr>
                        <td>Guilherme Garcia Guedes</td>
                     </tr>
                     <tr>
                        <td>Jackes Tiago Ferreira da Fonseca</td>
                     </tr>
                     <tr>
                        <td>Jo&atilde;o Paulo Lima da Silva</td>
                     </tr>
                     <tr>
                        <td>Jos&eacute; Henrique Laureano G. de Oliveira</td>
                     </tr>
                     <tr>
                        <td>Leonardo de Souza Takehana</td>
                     </tr>
                </tbody>
            </table>
          </div>
     </main>
 </body>
</html>
